# Synthesising Data Set

1. Download Religion and Irish Language data sets
2. Combine data in a data set, matching instances by County **<-- simplify. Use only one data set**
3. Cleanse data set, deleting or amending lost values
4. Analyse dataset and get distribution statistics (mean, max, min, Standars Deviation)
5. Analyse correlations and relationship between variables.
    5.1. Determine independent variable.
6. Synthetise new data set with random values using the sample statistics.
7. Compare synthetised data set with sample for testing purposes.

In [1]:
import pandas as pd
irish = pd.read_csv('data/theme_3_small_areas.csv', encoding='latin-1')
religion= pd.read_csv('data/religion.csv', encoding='latin-1')

#print (irish)

/home/luis/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
irish['County'].value_counts(), religion['County'] .value_counts()
religion.rename(columns={'County_UD':'County'}, inplace=True)
irish.describe()

,Datacode,Ability_To_Speak_Irish_Yes_2011,Ability_To_Speak_Irish_No_2011,Ability_To_Speak_Irish_Not_Stated_2011,Ability_To_Speak_Irish_Total_2011,Perc_Ability_To_Speak_Irish_Yes_2011,Perc_Ability_To_Speak_Irish_No_2011,Perc_Ability_To_Speak_Irish_Not_Stated_2011,Freq_Of_Irish_Total_2011,Freq_Of_Irish_Daily_Within_Education_System_2011,...,Perc_Freq_Of_Irish_Never_Outside_Education_System_2011,Perc_Freq_Of_Irish_Not_Stated_Outside_Education_System_2011,Freq_Of_Irish_Outside_Edu_Daily_2011,Freq_Of_Irish_Outside_Edu_Weekly_2011,Freq_Of_Irish _Outside_Edu_Less_Often_2011,Freq_Of_Irish_Outside_Edu_Never_2011,Perc_Freq_Of_Irish_Outside_Edu_Daily_2011,Perc_Freq_Of_Irish_Outside_Edu_Weekly_2011,Perc_Freq_Of_Irish_Outside_Edu_Less_Often_2011,Perc_Freq_Of_Irish_Outside_Edu_Never
count,18488.000000,18488.000000,18488.000000,18488.000000,18488.000000,18488.000000,18488.00000,18488.000000,18488.000000,18488.000000,...,18488.000000,18488.000000,18488.000000,18488.000000,18488.000000,18488.000000,18488.000000,18488.000000,18488.000000,18488.000000
mean,9244.500000,95.977769,135.618347,4.807551,236.403667,40.438081,57.60626,1.955707,95.977769,28.082053,...,25.184663,0.953495,1.170002,0.406209,0.312419,0.192720,32.284147,16.394091,12.962713,8.009492
std,5337.170224,42.860490,52.268328,12.463696,80.147073,11.973865,11.46983,2.794240,42.860490,17.354909,...,8.209346,1.448709,3.001457,0.769312,0.660431,0.515584,40.600232,30.795665,27.900272,22.387859
min,1.000000,4.000000,3.000000,0.000000,68.000000,4.430000,1.65000,0.000000,4.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4622.750000,65.000000,101.000000,1.000000,183.000000,32.577500,50.60750,0.640000,65.000000,16.000000,...,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9244.500000,91.000000,130.000000,3.000000,229.000000,40.570000,57.66500,1.320000,91.000000,26.000000,...,25.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,13866.250000,121.000000,164.000000,6.000000,282.000000,47.860000,65.10000,2.370000,121.000000,38.000000,...,30.000000,1.450000,1.000000,1.000000,0.000000,0.000000,66.670000,23.080000,0.000000,0.000000
max,18488.000000,645.000000,1423.000000,880.000000,1934.000000,97.900000,93.15000,65.240000,645.000000,318.000000,...,75.000000,25.000000,103.000000,8.000000,7.000000,7.000000,100.000000,100.000000,100.000000,100.000000

In [ ]:
irish.describe()

In [20]:
religion.describe()

,AIRO_AI_ID,TOT,RO_CATH,NC_OTH,NS,PC_RO_CATH,PC_NC_OTH,PC_NS
count,23025.00000,23025.000000,23025.000000,23025.000000,23025.000000,23025.000000,23025.000000,23025.000000
mean,11513.00000,277.920304,199.755396,6.296851,8.476265,74.776534,2.474567,2.616230
std,6646.88931,132.075540,106.971771,9.403814,15.908007,25.140130,3.500922,3.566992
min,1.00000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5757.00000,203.000000,138.000000,1.000000,1.000000,71.000000,0.400000,0.400000
50%,11513.00000,257.000000,197.000000,3.000000,3.000000,84.500000,1.300000,1.300000
75%,17269.00000,322.000000,255.000000,8.000000,9.000000,90.800000,3.100000,3.500000
max,23025.00000,3075.000000,2572.000000,222.000000,646.000000,100.000000,59.500000,65.000000